/* 
/* background: no-repeat center center/cover url('https://i.pinimg.com/736x/2b/6d/69/2b6d693bd936188526b11627bee3e2b8.jpg');


/* in home page  */
/* import { GiAirBalloon } from "react-icons/gi";
<GiAirBalloon className="air-balloon" />
<GiAirBalloon className="air-balloon2" />
<GiAirBalloon className="air-balloon3" /> */

/* .air-balloon {
    color: #01255E;
    margin-left: 80px;
    font-size: 100px;
    animation-name: hotair;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
  
  }
  
  .air-balloon2 {
    color: #4a4e69;
    margin-left: -600px;
    font-size: 50px;
    animation-name: hotair;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
  
  }
  
  .air-balloon3 {
    color: #3a86ff;
    margin-left: 650px;
    font-size: 80px;
    animation-name: hotair;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
  
  }


@keyframes hotair {
    from {
      transform: translateY(800px);
  
  
    }
  
    to {
      transform: translateY(-130px)
    }
  }
  
  @keyframes paper-plane {
    10% {
      top: 20px;
      transform-origin: 20% 10%;
  
      transform: rotate(45deg);
    }
  
    20% {
      transform-origin: 90% 50%;
  
      transform: rotate(20deg);
    }
  
    50% {
  
      transform-origin: 5% 30%;
  
      transform: rotate(90deg);
    }
  
    75% {
      transform-origin: 50% -30%;
      transform: rotate(90deg);
    }
  
    100% {
      transform: rotate(45deg);
      transform-origin: -50% 100%;
    }
  
  
  }
  
  @keyframes balloon {
    10% {
      transform: rotate(45deg);
      transform-origin: -50% 100%;
  
    }
  
    20% {
      transform-origin: 20% 40%;
  
      transform: rotate(90deg);
    }
  
    50% {
  
      transform-origin: 50% 30%;
  
      transform: rotate(90deg);
    }
  
    75% {
      transform-origin: 50% 30%;
      transform: rotate(180deg);
    }
  
    100% {
      transform-origin: 20% 10%;
  
      transform: rotate(10deg);
    } */
*/ */